In [7]:
import pandas as pd
import numpy as np

In [8]:
df_cred = pd.read_csv("../data/tmdb_5000_credits.csv")
df_mov = pd.read_csv("../data/tmdb_5000_movies.csv")

In [9]:
df_cred.shape, df_mov.shape

((4803, 4), (4803, 20))

In [10]:
df_cred = df_cred.iloc[:3500,:]
df_mov = df_mov.iloc[:3500, :]

In [11]:
df_cred.shape, df_mov.shape

((3500, 4), (3500, 20))

In [12]:
df_cred.rename(columns = {'movie_id':'id'}, inplace = True)

In [13]:
df = df_cred.merge(df_mov, on='id')
df.head(1)

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3500 non-null   int64
 1   title_x               3500 non-null   object
 2   cast                  3500 non-null   object
 3   crew                  3500 non-null   object
 4   budget                3500 non-null   int64
 5   genres                3500 non-null   object
 6   homepage              1337 non-null   object
 7   keywords              3500 non-null   object
 8   original_language     3500 non-null   object
 9   original_title        3500 non-null   object
 10  overview              3499 non-null   object
 11  popularity            3500 non-null   float64
 12  production_companies  3500 non-null   object
 13  production_countries  3500 non-null   object
 14  release_date          3500 non-null   object
 15  revenue               3500 non-null   int64
 16  runtime               3499 non-null   float64
 17  spoken_languages      3500 non-null   object
 18  status                3500 non-null   object
 19  tagline               3093 non-null   object
 20  title_y               3500 non-null   object
 21  vote_average          3500 non-null   float64
 22  vote_count            3500 non-null   int64
dtypes: float64(3), int64(4), object(16)
memory usage: 629.0+ KB

In [15]:
df.dropna(subset = ['overview'], inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3499 entries, 0 to 3499
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3499 non-null   int64
 1   title_x               3499 non-null   object
 2   cast                  3499 non-null   object
 3   crew                  3499 non-null   object
 4   budget                3499 non-null   int64
 5   genres                3499 non-null   object
 6   homepage              1337 non-null   object
 7   keywords              3499 non-null   object
 8   original_language     3499 non-null   object
 9   original_title        3499 non-null   object
 10  overview              3499 non-null   object
 11  popularity            3499 non-null   float64
 12  production_companies  3499 non-null   object
 13  production_countries  3499 non-null   object
 14  release_date          3499 non-null   object
 15  revenue               3499 non-null   int64
 16  runtime               3499 non-null   float64
 17  spoken_languages      3499 non-null   object
 18  status                3499 non-null   object
 19  tagline               3093 non-null   object
 20  title_y               3499 non-null   object
 21  vote_average          3499 non-null   float64
 22  vote_count            3499 non-null   int64
dtypes: float64(3), int64(4), object(16)
memory usage: 656.1+ KB

In [17]:
df = df[['id', 'title_x', 'genres', 'overview', 'cast', 'crew']]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3499 entries, 0 to 3499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3499 non-null   int64
 1   title_x   3499 non-null   object
 2   genres    3499 non-null   object
 3   overview  3499 non-null   object
 4   cast      3499 non-null   object
 5   crew      3499 non-null   object
dtypes: int64(1), object(5)
memory usage: 191.4+ KB

In [19]:
df.head(5)

,id,title_x,genres,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Generating Corpus

In [20]:
def generate_corpus(overview, genre, cast, crew):
    
    corpus = ""
    
    genre = ' '.join([i['name'] for i in eval(genre)])
    
    cast = ' '.join([i['name'] for i in eval(cast)[:5]])
       
    crew = ' '.join(list(set([i['name'] for i in eval(crew) if i['job']=='Director' or i['job']=='Producer'])))
    
    corpus+= overview + " " + genre + " " + cast + " " + crew
    
    return corpus

In [21]:
corpus = []
for i in range(len(df)):
    corpus.append(generate_corpus(df.iloc[i].overview, df.iloc[i].genres, df.iloc[i].cast, df.iloc[i].crew))

In [22]:
len(corpus)

3499

In [23]:
df.rename(columns = {'title_x':'title'}, inplace = True)

In [24]:
df['corpus'] = corpus

--

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
tfidf = TfidfVectorizer(stop_words='english')

In [27]:
tfidf_matrix = tfidf.fit_transform(df['corpus'])

In [28]:
tfidf_matrix.shape

(3499, 25114)

In [29]:
from sklearn.metrics.pairwise import linear_kernel

In [30]:
cos_mat = linear_kernel(tfidf_matrix, tfidf_matrix)

In [31]:
cos_mat.shape

(3499, 3499)

In [32]:
def get_recommendations(movie, n):
    
    # get index from dataframe
    index = df[df['title']== movie].index[0]
    
    # sort top n similar movies     
    similar_movies = sorted(list(enumerate(cos_mat[index])), reverse=True, key=lambda x: x[1]) 
    
    # extract names from dataframe and return movie names
    recomm = []
    for i in similar_movies[1:n+1]:
        recomm.append(df.iloc[i[0]].title)
        
    return recomm

In [33]:
get_recommendations("Batman Begins", 3)

['The Dark Knight', 'The Dark Knight Rises', 'The Prestige']

In [34]:
get_recommendations("Mission: Impossible", 3)

['Mission: Impossible III',
 'Mission: Impossible II',
 'Mission: Impossible - Ghost Protocol']

In [35]:
def get_keywords_recommendations(keywords, n):
    
    keywords = keywords.split()
    keywords = " ".join(keywords)
    
    # transform the string to vector representation
    key_tfidf = tfidf.transform([keywords]) 
    
    # compute cosine similarity    
    result = cosine_similarity(key_tfidf, tfidf_matrix)
    
    
  
    # sort top n similar movies   
    similar_key_movies = sorted(list(enumerate(result[0])), reverse=True, key=lambda x: x[1])
    
    # extract names from dataframe and return movie names
    recomm = []
    for i in similar_key_movies[1:n+1]:
        recomm.append(df.iloc[i[0]].title)
        
    return recomm

In [36]:
get_keywords_recommendations("Daniel Craig", 4)

['Scary Movie 4', 'Action Jackson', 'Dream House', 'Layer Cake']

In [37]:
get_keywords_recommendations("Christopher Nolan", 4)

['Insomnia', 'Man of Steel', 'Batman Begins', 'Interstellar']

In [38]:
import joblib

In [39]:
df.shape

(3499, 7)

In [40]:
cos_mat.shape

(3499, 3499)

In [41]:
tfidf_matrix.shape

(3499, 25114)

In [43]:
joblib.dump(df, '../models/movie_db.df')
joblib.dump(cos_mat, '../models/cos_mat.mt')
joblib.dump(tfidf, '../models/vectorizer.tf')
joblib.dump(tfidf_matrix, '../models/tfidf_mat.tf')

['../models/tfidf_mat.tf']